{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <nav class="navbar">
        <div class="logo">BurundiSales</div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Men's Fashion</a></li>
            <li><a href="#">Women's Fashion</a></li>
            <li><a href="#">Kid's Fashion</a></li>
            <li><a href="#">Cosmetics</a></li>
        </ul>
    </nav>
    
    <h1>Product List</h1>

    <form method="GET">
        {% csrf_token %}  <!-- Important for security -->
        {{ form.as_p }}
        <button type="submit">Filter</button>
    </form>

    <div class="products-container">
        {% for product in products %}
            <div class="product-card">
                <!-- Product Image -->
                <img class="product-image" src="{{ product.image.url }}" alt="{{ product.name }}">
    
                <!-- Product Info -->
                <div class="product-info">
                    <h4>{{ product.name }}</h4>
                    <p class="product-price">Ksh {{ product.price|floatformat:0 }}</p>
                    
                    <!-- If on sale, show a sale badge or discount -->
                    {% if product.is_on_sale %}
                        <span class="badge-sale">Sale</span>
                    {% endif %}
                    
                    <!-- Product Detail Link -->
                    <a class="details-button" href="{% url 'product_app:product_detail' product.id %}">
                        View Details
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>


    

    <!-- Pagination Controls -->
    <div class="pagination">
        <span class="step-links">
            {% if products.has_previous %}
                <a href="?page=1">&laquo; First</a>
                <a href="?page={{ products.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ products.number }} of {{ products.paginator.num_pages }}
            </span>

            {% if products.has_next %}
                <a href="?page={{ products.next_page_number }}">Next</a>
                <a href="?page={{ products.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
        </span>
    </div>



    
</body>
</html>
